.fitness {
  width: calc(100% - 100px);
  min-height: calc(100vh - 225px);
  padding: 25px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fitness_loader {
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
}

.fitness_row,
.fitness_row_header {
  width: 100%;
  grid-template-columns: 50px calc(100% - 600px) 150px 100px 200px 100px;
}

.fitness_row h4 {
  margin: 0;
}

@media (max-width: 768px) {
  .fitness {
    width: 96%;
    padding: 25px 2%;
  }

  .fitness_row,
  .fitness_row_header {
    display: none;
  }

  .no_workouts_msg {
    text-align: center;
  }
}

/* =======FITNESS=MOBILE=CARD======================== */
.fitness_card {
  display: none;
}

@media (max-width: 768px) {
  .fitness_card {
    width: calc(100% - 20px);
    height: 175px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .fitness_card_img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 100%;
    display: grid;
    place-items: center;
  }

  .fitness_card img {
    width: 96%;
    height: 96%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }

  .fitness_card_info {
    width: 55%;
    height: calc(100% - 55px);
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .fitness_card_info h3 {
    margin: 10px 0 10px 0;
    font-size: 1.3rem;
    text-transform: capitalize
  }

  .fitness_card_info p {
    margin: 0 0 2px 0;
    font-size: 1rem;
  }

  .fitness_card_bottom_info {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fitness_card_bottom_info p:nth-of-type(2) {
    height: 35px;
    margin: 0;
    padding: 0 20px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
    border-radius: 24px;
    display: grid;
    place-items: center;
  }

  .fitness_card_bottom_info i {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
    display: grid;
    place-items: center;
    border-radius: 100%;
    font-size: 1rem;
  }
}

/* =======WORKOUT=INTRO============================== */
.workout_intro {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.workout_intro_image {
  width: 375px;
  height: 375px;
  margin-top: 15vh;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
}

.workout_intro_image img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
}

.workout_details {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.workout_details h2 {
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}

.workout_details_yoga_p:nth-of-type(1) {
  text-transform: capitalize;
  margin-bottom: 25px;
}

.workout-details_yoga_p {
  width: 60%;
  text-align: center;
  font-size: .875rem;
}

.workout_details hr {
  width: 25px;
  height: 4px;
  border: none;
  background: rgba(250, 250, 250, .2);
}

.workout_detail_right,
.workout_detail_left {
  width: 300px;
  margin: 10px 0;
  padding: 2px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workout_detail_right {
  margin-left: 350px;
  border-left: 4px solid rgba(33, 33, 33, .2);
}

.workout_detail_left {
  margin-right: 350px;
  border-right: 4px solid rgba(33, 33, 33, .2);
  text-align: right;
}

.first_round {
  border-left: 7px solid rgba(0, 112, 243);
}

.second_round {
  border-right: 7px solid rgb(247, 168, 12);
}

.third_round {
  border-left: 7px solid #ff4500;
}

.workout_details h4 {
  margin: 10px 0 3px 0;
}

.workout_details p {
  font-size: .8rem;
  margin: 0 0 10px 0;
}

.workout_details small {
  font-size: .75rem;
  margin: 0;
}

.workout_details a {
  margin-top: 30px;
  padding: 7px 35px;
  border-radius: 4px;
  background: rgb(0, 112, 243);
  border: none;
  box-shadow: 0px 1px 21px rgb(0, 112, 243, .4);
  color: white;
}

.workout_details button:hover,
.workout_details button:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .workout_intro {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }

  .workout_intro_image {
    margin: 0 0 25px 0;
  }

  .workout_details {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .workout_details h2 {
    width: 100%;
  }

  .workout_details a {
    padding: 10px 35px;
  }

  .workout_details_yoga_p {
    width: 90%;
  }
}

/* =======WORKOUT=CONTENT============================= */
.workout {
  width: 100%;
  padding: 10px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid rgba(33, 33, 33, .05);
}

.workout_section_heading {
  width: calc(100% - 50px);
  max-width: 690px;
  padding: 0 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.workout_section_heading div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.workout_section_heading div p {
  font-size: .75rem;
}

.fa-tv {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
}

.inset_box_shadow {
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2);
}

.workout_exercise,
.workout_exercise_closed {
  width: 100%;
  max-width: 720px;
  height: auto;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  overflow: hidden;
}

.workout_exercise_closed {
  height: 58px;
}

.workout_exercise_details {
  width: 100%;
  max-width: 720px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.workout_exercise_details h4 {
  margin: 0;
  padding-left: 15px;
  text-transform: uppercase;
  /* text-align: center; */
  font-size: .9rem;
}

.workout_exercise_details p {
  font-size: .875rem;
  margin: 0;
  padding-right: 15px;
}

.workout_exercise img {
  display: block;
  width: 99%;
  max-width: 710px;
  max-height: 405px;
  margin: 0 0 5px 0;
  border-radius: 2px;
}

.workout_exercise_closed img {
  display: none;
}

/* =======WORKOUT=COMPLETED=========================== */
.workout_completed_container {
  width: 100%;
  border-top: 1px solid rgba(33, 33, 33, .05);
  text-align: center;
}

.workout_completed_container h1 {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--dodgerblue);
}

.workout_completed_container hr {
  height: 1px;
  border: none;
  background: rgba(33, 33, 33, .05);
}

.workout_footer {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(33, 33, 33, .4);
  font-size: .75rem;
}

.workout_footer a {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .workout_completed_container h1 {
    padding: 25px 0;
    font-size: 2rem;
  }

  .workout_footer a {
    font-size: .875rem;
  }
}
