.landing {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 75px);
  }
}

/* =======LANDING=NAVBAR============================= */
.landing_navbar {
  width: 80%;
  height: 100px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_navbar img {
  width: 55px;
}

.landing_navbar a {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 5vw;
}

.landing_navbar a:hover {
  color: var(--dodgerblue);
  transition-duration: .4s;
}

.landing_social {
  display: none;
}

@media (max-width: 768px) {
  .landing_navbar_navs {
    display: none;
  }

  .landing_social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing_social a {
    margin-left: 20px;
    font-size: 1.2rem;
  }
}
/* =======LANDING=BOX=AND=WATERMARK================== */
.landing_box {
  width: 25vw;
  height: 55%;
  position: absolute;
  right: 0;
  top: 0;
  background: #F1F5F8;
  box-shadow: 5px 5px 18px rgba(33, 33, 33, .4);
  z-index: -4;
}

@media (max-width: 768px) {
  .landing_box {
    height: 25%;
    top: 40%;
    left: 0;
  }
}

.landing_watermark {
  width: 85vw;
  height: 55vh;
  margin: 0 0 0 -5vw;
  padding: 0;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
}

.landing_watermark h1 {
  margin: 0;
  padding: 0;
  font-size: 25vw;
  color: var(--whitesmoke);
  text-shadow: 1px 1px 2px rgba(33, 33, 33, .07);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .landing_watermark {
    height: 25%;
    top: 53%;
    left: 25vw;
  }
}

/* =======LANDING=IMAGE============================== */
.landing_img {
  width: 40vw;
  height: 55%;
  display: grid;
  place-items: center;
  position: absolute;
  right: 10vw;
  bottom: 0;
  border-radius: 4px;
}

.landing_img img {
  width: 39vw;
  height: 97.5%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .landing_img {
    width: 90vw;
    height: 35vh;
    right: 5vw;
    top: 125px;
  }

  .landing_img img {
    width: 89vw;
    height: 34vh;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
}

/* =======LANDING=CONTENT============================ */
.landing_content {
  width: 35vw;
  position: absolute;
  top: 35%;
  left: 10vw;
}

.landing_heading {
  font-size: 3.5vw;
  font-weight: 900;
  margin: 0;
}

.landing_subheading {
  margin: 25px 0 50px 0;
}

.landing_btn {
  padding: 10px 45px;
  border-radius: 7px;
  background: var(--dodgerblue);
  color: white;
}

@media (max-width: 768px) {
  .landing_content {
    width: 90vw;
    top: 57%;
    left: 5vw;
    text-align: center;
  }

  .landing_heading {
    font-size: 9vw;
    margin-bottom: 45px;
  }

  .landing_subheading {
    display: none;
  }

  .landing_btn {
    padding: 12px 45px;
    font-size: 3vw;
  }
}

@media (max-width: 420px) {
  .landing_content {
    top: 65%;
  }

  .landing_btn {
    font-size: 4vw;
  }
}

/* =======FEATURES=================================== */
.features_container {
  width: 100%;
  min-height: 70vh;
  padding-bottom: 50px;
  border-top: 1px solid var(--graysmoke);
  border-bottom: 1px solid var(--graysmoke);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.feature {
  width: 250px;
  height: 100px;
  margin: 0 15px;
  padding: 25px;
  text-align: center;
  border-radius: 14px;
  background: rgba(255, 255, 255, .2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2);
}

.feature:nth-of-type(2) {
  height: 120px;
}

.feature:hover {
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
}

.feature h3 {
  text-transform: capitalize;
  color: var(--dodgerblue);
}

@media (max-width: 768px) {
  .features_container {
    width: 90%;
    padding: 15px 5%;
  }

  .features {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-gap: 10px;
    justify-content: normal;
    align-items: flex-start;
    overflow-x: scroll;
  }

  .features::-webkit-scrollbar {
    display: none;
  }

  .feature {
    width: 175px;
    min-height: 175px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .feature:hover {
    background: rgba(255, 255, 255, .2);
    box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2);
  }

  .feature:nth-of-type(2) {
    width: 175px;
  }

  .feature h3 {
    height: 75px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature p {
    margin: 0;
    height: 100px;
  }
}

/* =======FITNESS=POSTS============================== */
.landing_fitness_container {
  width: 100%;
  min-height: 70vh;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_fitness {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.landing_fitness_btn {
  width: 45px;
  height: 45px;
  margin-top: 25px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

.landing_fitness .mobile_see_more_btn {
  display: none;
}

@media (max-width: 768px) {
  .landing_fitness_btn {
    display: none;
  }

  .landing_fitness_container {
    padding: 25px 0;
  }

  .landing_fitness {
    width: 100%;
    display: grid;
    grid-template-columns: 325px 325px 325px 100px;
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: normal;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .landing_fitness::-webkit-scrollbar {
    display: none;
  }

  .landing_fitness .mobile_see_more_btn {
    width: 100%;
    height: 360px;
    display: grid;
    place-items: center;
  }

  .mobile_see_more_btn i {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    font-size: 1.2rem;
  }
}

.landing_section_loader {
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
}

/* =======VIDEO====================================== */
.landing_video_container {
  width: 100%;
  height: 80vh;
  padding: 50px 0 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid var(--graysmoke);
  border-bottom: 1px solid var(--graysmoke);
}

.landing_video {
  margin-top: 25px;
  padding: 5px;
  background: rgba(255, 255, 255, .2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2), 1px 1px 3px rgba(33, 33, 33, .2);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_video video {
  width: 768px;
  border-radius: 10px;
  outline: none;
}


@media (max-width: 768px) {
  .landing_video_container {
    width: 90%;
    height: 50vh;
    margin-left: 5%;
  }

  .landing_video video {
    width: 100%;
    height: 100%;
  }
}

/* =======CONTACT==================================== */
.landing_contact {
  min-height: 50vh;
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--graysmoke);
}

.landing_contact p,
.landing_contact h2 {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.landing_contact form {
  margin-top: 25px;
}

.landing_contact .form_success,
.landing_contact .form_error {
  margin-left: 0;
  text-align: left;
}

@media (max-width: 768px) {
  .landing_contact {
    width: 90%;
    margin-left: 5%;
  }

  .landing_contact form {
    width: 100%;
  }

  .landing_contact form textarea,
  .landing_contact form input {
    width: 95%;
  }

  .landing_contact form button {
    padding: 10px 35px;
  }

  .landing_contact p {
    width: 100%;
    margin-left: 0;
  }
}

/* ============================================================================================= */
/* .demo {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  border-bottom: 1px solid var(--graysmoke);
}

.box {
  width: 30%;
  height: 350px;
  position: absolute;
  right: 0;
  top: 0;
  background: #F1F5F8;
  box-shadow: 5px 5px 18px rgba(33, 33, 33, .4);
  z-index: -4;
}

.box_img {
  width: 35vw;
  height: 65%;
  position: absolute;
  right: 10%;
  bottom: 0;
  padding: 5px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  display: grid;
  place-items: center;
  border-radius: 34px 34px 0 0;
}

.box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 31px 31px 0 0;
}

.box_watermark {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -5%;
  top: 0;
  font-size: 25vw;
  color: var(--whitesmoke);
  text-shadow: 1px 1px 2px rgba(33, 33, 33, .1);
  z-index: -5;
  text-transform: uppercase;
}

.box_navbar {
  width: 80%;
  height: 100px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_navbar img {
  width: 55px;
}

.box_navbar a {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 8vw;
}

.box_navbar a:hover {
  color: var(--dodgerblue);
  transition-duration: .4s;
}

.box_heading {
  font-size: 4vw;
  width: 40%;
  font-weight: 900;
  margin: 20vh 0 0 10%;
}

.box_subheading {
  width: 40%;
  margin: 25px 0 50px 10%;
}

.box_btn {
  margin: 0 0 0 10%;
  padding: 10px 45px;
  border-radius: 7px;
  background: var(--dodgerblue);
  color: white;
}

.box_social {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    height: 395px;
    top: 250px;
    left: 0;
  }

  .box_img {
    width: 90%;
    height: 250px;
    top: 125px;
    left: 5%;
    border-radius: 14px;
  }

  .box_img img {
    border-radius: 14px;
  }

  .box_watermark {
    top: 550px;
    left: 23vw;
  }

  .box_navbar {
    height: 100px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  }

  .box_navbar img {
    width: 55px;
  }

  .box_navbar_navs {
    display: none;
  }

  .box_social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box_social a {
    margin-left: 20px;
    font-size: 1.5rem;
  }

  .box_heading {
    width: 90%;
    font-size: 7vw;
    margin: 550px 5% 25px 5%;
  }

  .box_subheading {
    width: 90%;
    margin: 0 0 25px 5%;
    font-size: 1.2rem;
  }

  .box_btn {
    margin-left: 5%;
    padding: 12px 45px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .demo {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    border-bottom: 1px solid var(--graysmoke);
  }

  .box {
    width: 30%;
    height: 350px;
    position: absolute;
    right: 0;
    top: 0;
    background: #F1F5F8;
    box-shadow: 5px 5px 18px rgba(33, 33, 33, .4);
    z-index: -4;
  }

  .box_img {
    width: 35vw;
    height: 65%;
    position: absolute;
    right: 10%;
    bottom: 0;
    padding: 5px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
    display: grid;
    place-items: center;
    border-radius: 34px 34px 0 0;
  }

  .box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 31px 31px 0 0;
  }

  .box_watermark {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -5%;
    top: 0;
    font-size: 25vw;
    color: var(--whitesmoke);
    text-shadow: 1px 1px 2px rgba(33, 33, 33, .1);
    z-index: -5;
  }

  .box_navbar {
    width: 80%;
    height: 100px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box_navbar img {
    width: 55px;
  }

  .box_navbar a {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 0 8vw;
  }

  .box_navbar a:hover {
    color: var(--dodgerblue);
    transition-duration: .4s;
  }

  .box_heading {
    font-size: 4vw;
    width: 40%;
    font-weight: 900;
    margin: 20vh 0 0 10%;
  }

  .box_subheading {
    width: 40%;
    margin: 25px 0 50px 10%;
  }

  .box_btn {
    margin: 0 0 0 10%;
    padding: 10px 45px;
    border-radius: 7px;
    background: var(--dodgerblue);
    color: white;
  }

  .box_social {
    display: none;
  }
}

@media (max-width: 767px) {
  .box {
    height: 195px;
    top: 200px;
    left: 0;
  }

  .box_img {
    width: 90%;
    height: 250px;
    top: 100px;
    left: 5%;
    border-radius: 14px;
  }

  .box_img img {
    border-radius: 14px;
  }

  .box_watermark {
    top: 350px;
    left: 21vw;
  }

  .box_navbar {
    height: 75px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  }

  .box_navbar img {
    width: 45px;
  }

  .box_navbar_navs {
    display: none;
  }

  .box_social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box_social a {
    margin-left: 15px;
    font-size: 1.2rem;
  }

  .box_heading {
    width: 90%;
    font-size: 7vw;
    margin: 350px 5% 25px 5%;
  }

  .box_subheading {
    width: 90%;
    margin: 0 0 25px 5%;
    font-size: 1rem;
  }

  .box_btn {
    margin-left: 5%;
  }
} */
