.posts_container {
  width: calc(100% - 100px);
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  .posts_container {
    width: 96%;
    padding: 25px 2%;
  }
}

/* =======BLOG=CARD================================== */
.blog_card {
  width: 250px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 14px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog_card:hover {
  transform: scale(1.01);
}

.blog_card_img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 100%;
}

.blog_card img {
  width: 98%;
  height: 98%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

/* .blog_card img:hover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 14px;
  transition: .7s ease-out;
} */

.blog_card_content {
  width: 100%;
  height: 150px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog_card_content h3 {
  margin: 0 0 10px 0;
}

.blog_card_content p {
  margin: 0;
  font-size: .75rem;
}

.blog_card_info {
  width: 50%;
  height: 100px;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.blog_card_info p {
  margin: 0 0 2px 0;
  font-size: .875rem;
  font-weight: 600;
}

.blog_card_bottom_info {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_card_bottom_info p {
  font-size: .7rem;
}

.blog_card_bottom_info i {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
  display: grid;
  place-items: center;
  border-radius: 100%;
  font-size: 1rem;
}

@media (max-width: 420px) {
  .blog_card {
    width: 300px;
  }

  .blog_card_info p {
    font-size: 1rem;
  }

  .blog_card_content p,
  .blog_card_bottom_info p {
    font-size: .875rem;
  }
}

/* =======PAGINATION================================= */
.pagination {
  margin: 50px 0;
}

.pagination button {
  padding: 5px 10px;
  background: none;
  color: rgb(0, 112, 243);
  border: none;
  border-radius: 2px;
  margin: 0 2px;
  font-weight: 600;
}

.pagination_active {
  box-shadow: 0px 1px 11px rgb(0, 112, 243, .4);
  background: var(--dodgerblue);
  color: #fff;
}

.pagination_inactive {
  color: var(--dodgerblue);
}

.pagination button:disabled {
  color: rgba(33, 33, 33, .4);
}

/* =======BLOG=POST================================== */
.blog_post {
  width: 60%;
  padding: 50px 20% 50px 20%;
  color: black;
  line-height: 1.5;
  font-size: .875rem;
}

.blog_post h1 {
  width: 80%;
  margin: 0 10%;
  text-transform: capitalize;
  text-align: center;
}

.blog_post p,
.blog_post li {
  text-align: justify;
}

.blog_post_author {
  width: 100%;
  text-align: center;
  font-size: 80%;
  margin: 10px 0 50px 0;
}

.blog_post a {
  color: rgba(0, 112, 243);
  text-decoration: none;
}

.blog_post blockquote {
  width: 60%;
  margin: 30px 10%;
  border-left: 10px solid rgba(0, 112, 243);
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.blog_post blockquote:before {
  color: rgba(0, 112, 243);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.blog_post blockquote p {
  display: inline;
}

.blog_post footer {
  height: 30px;
  padding: 0;
  margin-top: 10px;
  font-size: 80%;
  background: none;
  box-shadow: none;
  text-align: left;
}

.blog_post table {
  width: 90%;
  margin-left: 5%;
  border: 1px solid white;
  border-collapse: collapse;
}

.blog_post table td,
.blog_post table th {
  border: 1px solid #ddd;
  padding-left: 5px;
}

.blog_post table th {
  color: rgba(0, 112, 243);
  padding: 7px 0 7px 5px;
  text-transform: uppercase;
}

.blog_post img {
  width: 120%;
  margin: 20px -10%;
  border-radius: 4px;
  max-height: 440px;
  object-fit: cover;
  object-position: center;
}

.blog_post iframe {
  width: 120%;
  margin: 20px -10%;
  border-radius: 4px;
  min-height: 440px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .blog_post {
    width: 90%;
    padding: 50px 5% 50px 5%;
    color: black;
    line-height: 1.5;
    font-size: .875rem;
  }

  .blog_post h1 {
    font-size: 1.5rem;
  }

  .blog_post img,
  .blog_post iframe {
    width: 110%;
    margin: 20px -5%;
    border-radius: 0;
  }

  .blog_post iframe {
    min-height: 250px;
  }
}

/* =======BLOG=FEEDBACK============================== */
.blog_feedback {
  width: 60%;
  padding: 25px 20% 50px 20%;
  border-top: 1px solid var(--graysmoke);
}

.blog_feedback h4 {
  margin: 25px 0 5px 0;
}

.blog_feeback_social_icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

.blog_feedback_comments {
  width: 275px;
}

.blog_feedback_comments input,
.blog_feedback_comments textarea {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}

.blog_feedback_comments textarea {
  width: 300px;
  min-height: 75px;
  resize: vertical;
  background: rgba(255, 255, 255, .2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2);
}

.blog_feedback_comments button {
  padding: 7px 25px;
  background: var(--dodgerblue);
  color: #fff;
  border-radius: 4px;
}

.blog_feedback_comments button:disabled {
  opacity: .7;
}

.blog_post_comments {
  width: 300px;
  margin-top: 50px;
}

.blog_post_comments h5 {
  cursor: pointer;
  font-size: .875rem;
}

.blog_post_comments p {
  margin: 0;
  padding: 10px 0;
}

.blog_post_comments hr {
  width: 45px;
  height: 3px;
  margin: 0;
  border: none;
  border-radius: 1px;
  background: var(--graysmoke);
}

@media (max-width: 768px) {
  .blog_feedback {
    width: 90%;
    padding: 25px 5% 50px 5%;
    border-top: 1px solid var(--graysmoke);
  }

  .blog_feedback_comments input,
  .blog_feedback_comments textarea {
    padding: 8px;
  }

  .blog_feedback_comments button {
    padding: 10px 25px;
  }

  .blog_post_comments h5 {
    font-size: 1rem;
  }
}

/* =======BLOG=WRITER================================ */
.writer {
  width: 100%;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 300px auto;
  border-top: 1px solid var(--graysmoke);
}

.writer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writer_img {
  width: 125px;
  height: 125px;
  border-radius: 100%;
}

.writer img {
  width: 96%;
  height: 96%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.writer div div {
  flex-direction: row;
}

.writer a {
  margin: 0 5px;
  font-size: 1.2rem;
}

.writer .fa-facebook,
.blog_feeback_social_icon .fa-facebook {
  color: #4267B2;
}

.writer .fa-twitter,
.blog_feeback_social_icon .fa-twitter {
  color: #1DA1F2;
}

.writer .fa-instagram {
  color: #C13584;
}

.writer .fa-youtube {
  color: #FF0000;
}

.writer .fa-spotify {
  color: #1DB954;
}

.writer .fa-linkedin {
  color: #2867B2;
}

.writer p {
  width: 85%;
  margin-left: -5%;
  font-size: .875rem;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 768px) {
  .writer {
    padding: 50px 0;
    grid-template-columns: 100%;
  }

  .writer h4 {
    font-size: 1.2rem;
  }

  .writer a {
    margin: 0 5px;
    font-size: 1.5rem;
  }

  .writer p {
    width: 90%;
    margin-left: 0;
  }
}

/* =======BLOG=AD==================================== */
.posts_ad_loader {
  width: 100%;
  height: 470px;
  display: grid;
  place-items: center;
}

.posts_ad_container {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--graysmoke);
}

.posts_ad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
