/* =======COLORS===================================== */
:root {
  --whitesmoke: rgba(241, 245, 248, 1);
  --dodgerblue: rgba(0, 112, 243, 1);
  --graysmoke: rgba(33, 33, 33, 0.05);
}

/* =======SCROLLBAR================================== */
::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

/* =======STYLES===================================== */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.875rem;
  background: var(--whitesmoke);
}

a {
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid var(--whitesmoke);
  outline: none;
  font-size: 0.875rem;
}

label {
  font-size: 0.75rem;
}

input,
textarea,
select {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid var(--whitesmoke);
  font-size: 0.875rem;
  margin: 2px 0 10px 0;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--dodgerblue);
}

@media (max-width: 768px) {
  body,
  a,
  button,
  input,
  textarea,
  select {
    font-size: 1rem;
  }
}

.form_error,
.form_required {
  color: red;
  font-size: 0.825rem;
}

.form_success {
  color: var(--dodgerblue);
  font-size: 0.825rem;
}

.index_loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: var(--whitesmoke);
}

.page_loader {
  width: 100%;
  height: calc(100vh - 225px);
  display: grid;
  place-items: center;
}

.neumorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
}

.inset_neumorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, 0.2);
}

/* =======UNIVERSAL=LIST============================= */
.row {
  margin: 7px 0;
  padding: 8px 10px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
}

.row img {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.row i {
  cursor: pointer;
}

.row .fa-times {
  margin-left: 15px;
  color: red;
}

.row_header {
  width: 100%;
  min-width: 900px;
  padding: 5px 10px 0 10px;
  display: grid;
  align-items: center;
  border-bottom: 3px solid #fff;
  font-weight: 600;
}

/* =======NAVBAR===================================== */
nav {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
}

nav div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  height: 55px;
  margin-right: 75px;
  object-fit: cover;
  object-position: center;
}

nav a {
  margin: 0;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--dodgerblue);
  transition-duration: 0.2s;
}

nav div:nth-of-type(3) i {
  font-size: 1.2rem;
}

.active_nav {
  color: var(--dodgerblue);
  position: relative;
}

.active_nav::before {
  content: "_";
  display: inline-block;
  position: absolute;
  bottom: -0.3em;
  left: 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    width: calc(100% - 60px);
    height: 75px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  nav div {
    height: 75px;
  }

  nav div:nth-of-type(2) {
    display: none;
  }

  nav img {
    height: 35px;
    margin-left: -25px;
  }
}

/* =======FOOTER====================================== */
footer {
  width: calc(100% - 200px);
  height: 125px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: rgba(33, 33, 33, 0.5);
  font-size: 0.7rem;
}

footer div a {
  margin: 0 10px;
  color: rgba(33, 33, 33);
  font-size: 1.2rem;
}

footer div a:hover {
  color: var(--dodgerblue);
  transition-duration: 0.2s;
}

@media (max-width: 768px) {
  footer {
    width: calc(100% - 50px);
    min-height: 75px;
    padding: 0 25px 75px 25px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  footer a {
    padding: 0 0 0 0;
  }

  footer div {
    padding: 5px 0 5px 0;
  }
}

/* =======FOOTBAR===================================== */
.footbar {
  display: none;
}

@media (max-width: 768px) {
  .footbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background: #f1f5f8;
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .footbar a {
    width: 75px;
    height: 55px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.2);
    border-radius: 10px;
    color: black;
  }

  .footbar a p {
    margin: 5px 0 0 0;
    font-size: 0.75rem;
  }

  .footbar a i {
    font-size: 1.2rem;
  }
}

/* =======SEARCHBAR=================================== */
.searchbar {
  width: calc(100% - 200px);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--graysmoke);
}

.fitness_searchbar {
  width: calc(100% - 200px);
  padding: 50px 100px;
  flex-direction: column;
  justify-content: center;
}

.searchbar input {
  width: 250px;
  padding: 7px 55px 7px 15px;
  border-radius: 25px;
}

.searchbar button {
  margin-left: -48px;
  padding: 4px 15px;
  border-radius: 22px;
  background: var(--whitesmoke);
}

.searchbar_categories,
.searchbar_category {
  display: flex;
  align-items: center;
}

.searchbar_category {
  margin-right: 15px;
}

.searchbar_categories i {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .searchbar {
    padding-top: 25px;
  }

  .searchbar input {
    padding: 10px 55px 10px 15px;
  }

  .searchbar button {
    margin-left: -50px;
    padding: 7px 15px;
  }

  .fitness_searchbar {
    height: 150px;
    flex-direction: column;
    justify-content: center;
  }

  .fitness_searchbar input {
    margin: 0 0 25px 0;
  }

  .fitness_searchbar p {
    display: none;
  }

  .searchbar_categories i {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 0;
  }
}

/* =======CONTACT===================================== */
.contact {
  width: calc(100% - 200px);
  min-height: calc(100vh - 325px);
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form {
  width: 375px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  margin: 2px 0 10px 0;
  border-radius: 4px;
  padding: 7px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, 0.2);
}

.contact_form textarea {
  width: 110%;
  min-height: 75px;
  resize: vertical;
}

.contact_form .form_error {
  font-size: 0.775rem;
  margin: -8px 0 15px 0;
}

.contact_form button {
  padding: 7px 25px;
  background: var(--dodgerblue);
  color: white;
  border-radius: 4px;
}

.contact_form button:disabled {
  opacity: 0.7;
}

/* =======ERROR======================================= */
.error_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_page h1 {
  font-size: 15vw;
  margin: 0;
  color: var(--whitesmoke);
  text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.1);
  text-transform: uppercase;
}

.error_page p {
  width: 90%;
  margin-bottom: 50px;
  max-width: 625px;
  text-align: center;
}

.error_page p a {
  text-decoration: underline;
  color: var(--dodgerblue);
}

.error_page div a {
  margin: 0 10px;
  padding: 7px 35px;
  border: 1px solid var(--dodgerblue);
  border-radius: 4px;
  color: var(--dodgerblue);
}

.error_page div a:nth-of-type(2) {
  background: var(--dodgerblue);
  color: white;
}

/* =======CALENDAR==================================== */
.calendar {
  width: 325px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 0.75rem;
  border-radius: 24px;
}

.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--graysmoke);
  border-radius: 14px;
}

.calendar_header i {
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.calendar table {
  width: 100%;
  text-align: center;
}

.calendar_days div,
.calendar_non_active_date {
  color: rgba(33, 33, 33, 0.4);
  padding: 10px 0;
}

.calendar_date {
  padding: 10px 0;
}

.calendar_active_date {
  color: white;
  background: var(--dodgerblue);
  border-radius: 4px;
}
