/* =======COLORS===================================== */
:root {
  --whitesmoke: rgba(241, 245, 248, 1);
  --dodgerblue: rgba(0, 112, 243, 1);
  --graysmoke: rgba(33, 33, 33, .05);
}

.calendar {
  width: 325px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: .75rem;
  border-radius: 24px;
}

.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--graysmoke);
  border-radius: 14px;
}

.calendar_header i {
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.calendar table {
  width: 100%;
  text-align: center;
}

.calendar_days div,
.calendar_non_active_date {
  color: rgba(33, 33, 33, .4);
  padding: 10px 0;
}

.calendar_date {
  padding: 10px 0;
}

.calendar_active_date {
  color: white;
  background: var(--dodgerblue);
  border-radius: 4px;
}
