/* =======COLORS===================================== */
:root {
  --whitesmoke: rgba(241, 245, 248, 1);
  --dodgerblue: rgba(0, 112, 243, 1);
  --graysmoke: rgba(33, 33, 33, .05);
}

/* =======STYLES===================================== */
.form_error,
.form_required {
  color: red;
  font-size: .825rem;
}

.form_success {
  color: var(--dodgerblue);
  font-size: .825rem;
}

.index_loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: var(--whitesmoke);
}

.page_loader {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.neumorphism {
  background: rgba(255, 255, 255, .2);
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
}

.inset_neumorphism {
  background: rgba(255, 255, 255, .2);
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2);
}

/* =======UNIVERSAL=LIST============================= */
/* =======NAVBAR===================================== */
/* =======FOOTER====================================== */
/* =======FOOTBAR===================================== */
/* =======SEARCHBAR=================================== */
.searchbar {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--graysmoke);
}

.searchbar input {
  width: 250px;
  padding: 7px 55px 7px 15px;
  border-radius: 25px;
}

.searchbar button {
  margin-left: -48px;
  padding: 4px 15px;
  border-radius: 22px;
  background: var(--whitesmoke);
}

.searchbar_categories,
.searchbar_category {
  display: flex;
  align-items: center;
}

.searchbar_category {
  margin-right: 15px;
}

.searchbar_categories i {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .searchbar {
    padding-top: 25px;
  }

  .searchbar input {
    padding: 10px 55px 10px 15px;
  }

  .searchbar button {
    margin-left: -50px;
    padding: 7px 15px;
  }

  .fitness_searchbar {
    height: 150px;
    flex-direction: column;
    justify-content: center;
  }

  .fitness_searchbar input {
    margin: 0 0 25px 0;
  }

  .fitness_searchbar p {
    display: none;
  }

  .searchbar_categories i {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 0;
  }
}

/* =======CONTACT===================================== */
/* =======ERROR======================================= */
.error_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_page h1 {
  font-size: 15vw;
  margin: 0;
  color: var(--whitesmoke);
  text-shadow: 1px 1px 2px rgba(33, 33, 33, .1);
  text-transform: uppercase;
}

.error_page p {
  width: 90%;
  margin-bottom: 50px;
  max-width: 625px;
  text-align: center;
}

.error_page p a {
  text-decoration: underline;
  color: var(--dodgerblue);
}

.error_page div a {
  margin: 0 10px;
  padding: 7px 35px;
  border: 1px solid var(--dodgerblue);
  border-radius: 4px;
  color: var(--dodgerblue);
}

.error_page div a:nth-of-type(2) {
  background: var(--dodgerblue);
  color: white;
}

/* =======CALENDAR==================================== */
.calendar {
  width: 325px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: .75rem;
  border-radius: 24px;
}

.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--graysmoke);
  border-radius: 14px;
}

.calendar_header i {
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.calendar table {
  width: 100%;
  text-align: center;
}

.calendar_days div,
.calendar_non_active_date {
  color: rgba(33, 33, 33, .4);
  padding: 10px 0;
}

.calendar_date {
  padding: 10px 0;
}

.calendar_active_date {
  color: white;
  background: var(--dodgerblue);
  border-radius: 4px;
}
