.sidebar {
  height: 100vh;
  background: $white;
  border-left: 1px solid $light-300;
  padding: 3rem 1rem;
  @include position(fixed, $top: 0, $right: 0);
  @include flex($align: flex-start, $justify: center, $direction: column);
  z-index: 201;
  transition: 250ms ease-out;

  > .filters {
    @include flex($align: center, $justify: center, $direction: column);
    gap: 1rem;

    position: sticky;
    top: 0;

    span {
      font-size: .75rem;
      font-weight: 600;
    }

    > .filter {
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        color: $dodgerblue;
        transition: 250ms ease-in;
      }

      + span {
        margin-top: 1.5rem;
      }
    }

    > .active {
      color: $dodgerblue;
    }
  }

  > .close {
    width: 100%;
    padding-top: 6rem;
    @include flex-center-center;
    flex-direction: column;
    gap: .25rem;

    > span {
      font-size: .75rem;
    }
  }
}

.sidebar_closed {
  right: -5.125rem;
}
