.landing {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: $navbarHeight + 6rem 5rem 9rem 5rem;
  @include grid($gap: 2rem, $columns: 1fr 1fr);
  @include border($side: bottom);

  @media (max-width: $mobile) {
    @include grid($gap: 2rem, $columns: 1fr);
    padding: $navbarHeight + 6rem 1rem 9rem 1rem;
  }

  > section {
    > h1 {
      max-width: 325px;
      font-size: 2rem;
      font-weight: 900;
    }

    > span {
      max-width: 400px;
      display: block;
      margin-bottom: 2.5rem;
    }
  }

  > .landing_video {
    padding: .25rem .25rem 0 .25rem;
    background: $whitesmoke;
    border-radius: 1rem;
    @include box-shadow;

    > div > iframe {
      width: 100%;
      border-radius: .75rem;
    }
  }
}

.dots {
  z-index: -1;

  > .dot {
    width: 10px;
    height: 10px;
    background: $dodgerblue;
    opacity: .2;
    border-radius: 100%;
  }
}

.landing_top_dots {
  @include position(absolute, $top: 11rem, $left: 2.5rem);
  @include grid($gap: 1rem, $columns: repeat(5, 1fr));
}

.landing_bottom_dots {
  @include position(absolute, $bottom: 4rem, $right: 2.5rem);
  @include grid($gap: 1rem, $columns: repeat(10, 1fr));
  row-gap: .5rem;
}

.landing_section,
.landing_section_col {
  width: 95vw;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;

  > h2 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: 900;
  }

  > span {
    color: $dodgerblue;
    font-weight: 600;
  }

  > .landing_children {
    margin: 3rem 0;
    @include flex-center-center;
    flex-wrap: wrap;
    text-align: left;

    > div {
      margin: 1rem;
    }
  }
}

.landing_section_col > .landing_children {
  display: block;

  > div {
    margin: 1rem auto;
  }
}

.feature {
  width: 250px;
  height: 175px;
  padding: 1rem;
  @include border;
  background: rgb(249, 249, 249);

  > h4 {
    @include transition(350ms);
  }

  &:hover {
    > h4 {
      color: $dodgerblue;
    }
  }
}
