$dimension: 250px;

.card {
  width: $dimension;
  border-radius: 1rem;
  background: $whitesmoke;
  @include box-shadow;
  cursor: pointer;
  position: relative;

  > .card_top {
    width: $dimension;
    height: $dimension;
    padding: .2rem;
    border-radius: 1rem;
    position: relative;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      object-fit: cover;
      object-position: center;
    }

    > .card_details {
      @include position(absolute, $right: 1rem, $top: 1rem);

      > div {
        + div {
          margin-left: .5rem;
        }

        > span > i,
        > span > span {
          width: 32px;
          height: 32px;
          background: white;
          border-radius: .25rem;
          box-shadow: 1px -1px 7px rgba(255, 255, 255, .4), -1px 1px 7px rgba(255, 255, 255, .4);
          @include place-center;
        }

        > span > span {
          font-size: .75rem;
          font-weight: 600;
        }
      }
    }
  }

  > .card_title {
    width: calc(100% - .4rem);
    padding: 1.5rem 1rem 1rem 1rem;
    @include position(absolute, $right: .2rem, $bottom: .2rem);
    background: linear-gradient(to bottom, transparent, #000 100%);
    border-radius: 0 0 1rem 1rem;
    color: white;
    font-weight: 600;
    @include ellipsis($lines: 2);
  }
}
