nav {
  width: 100%;
  height: $navbarHeight;
  padding: 0 10vw;
  @include position(fixed);
  @include flex($align: center);
  align-items: center;
  background: $whitesmoke;
  @include border;
  z-index: 1000;

  @media (max-width: $mobile) {
    height: 3rem;
    background: $dodgerblue;
    color: $white;
  }

  > #logo {
    @include flex($align: center);
    cursor: pointer;
    
    @media (max-width: $mobile) {
      flex-grow: 1;
    }

    > .logo {
      width: 1.5rem;
      height: 3rem;
      display: inline-block;
      background-image: url('https://res.cloudinary.com/etreeningud/image/upload/v1631998622/next_etreeningud_logo_coogb5.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (max-width: $mobile) {
        width: 1rem;
        height: 2rem;
      }
    }

    > span {
      font-size: .75rem;
      color: $dodgerblue;
      font-weight: 600;
      margin-left: .5rem;

      @media (max-width: $mobile) {
        color: $white;
      }
    }
  }

  > #navs {
    @include only-desktop;
    padding-left: 5vw;
    flex-grow: 1;

    > a {
      padding: .5rem 1rem;

      font-weight: 600;
      text-transform: uppercase;
      @include transition($time: 150ms, $value: color);
      cursor: pointer;

      &:hover {
        color: $dodgerblue;
      }
    }

    > a + a {
      margin-left: 1rem;
    }

    > .active {
      color: $dodgerblue;
      border-radius: 1rem;
      @include box-shadow($inset: true);
    }
  }

  > .tooltip > span {
    > .fa-fingerprint,
    > .fa-lock-open {
      font-size: 1.2rem;
      cursor: pointer;
      @include transition($time: 150ms, $value: color);

      &:hover {
        color: $dodgerblue;
      }
    }
  }

  > #social {
    margin-left: 2rem;
    padding: .5rem 1rem;
    @include flex-center-center;
    border-radius: 1rem;
    @include box-shadow;

    @media (max-width: $mobile) {
      display: none;
    }

    > .tooltip > span {
      > a {
        font-size: 1.1rem;
        @include transition($time: 150ms, $value: color);

        &:hover {
          color: $dodgerblue;
        }
      }
    }

    > .tooltip + .tooltip {
      margin-left: 1rem;
    }
  }
}
