$sidebarWidth: 225px;
$sidebarMinWidth: 25px;

.sidebar {
  width: $sidebarWidth;
  height: unquote('calc(100vh - #{$navbarHeight})');
  @include position(fixed, $top: $navbarHeight, $left: 0);
  @include border($side: right);
  background: rgb(249, 249, 249);
  @include transition($time: 350ms, $value: width);
  z-index: 2;

  @media (max-width: $mobile) {
    top: 3rem;
    height: calc(100vh - 3rem);
  }

  > .sidebar_toggle_button {
    $width: 1rem;
    width: $width;
    height: 2.5rem;
    background: rgb(249, 249, 249);
    @include position(absolute, $top: 3rem, $right: -$width);
    @include place-center;
    @include border($side: top);
    @include border($side: right);
    @include border($side: bottom);
    font-size: .7rem;
    cursor: pointer;

    @media (max-width: $mobile) {
      $width: 2rem;
      width: $width;
      height: 3.5rem;
      @include position(absolute, $top: 80%, $right: -$width);
      font-size: .875rem;
      border-radius: 0 .25rem .25rem 0;
      font-size: 1.2rem;
    }
  }

  > .sidebar_content {
    padding: 3rem 1rem 1rem 1rem;

    @media (max-width: $mobile) {
      height: 100%;
      padding: 3rem 1rem;
      overflow-y: scroll;
    }

    > h4 {
      margin-top: 2rem;
      opacity: .7;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }

    > .active {
      color: $dodgerblue;
      font-weight: 600;
    }

    > div {
      margin: .5rem 0;
      cursor: pointer;
      font-size: .8rem;

      &:hover {
        color: $dodgerblue;
      }
    }
  }
}

.sidebar_minimized {
  width: 25px;

  > .sidebar_content {
    display: none;
  }
}

.sidebar + .page_container {
  margin-left: $sidebarWidth + 32px;
  @include transition($time: 350ms, $value: margin);

  @media (max-width: $mobile) {
    margin-left: $sidebarMinWidth;
    overflow: hidden;
  }
}

.sidebar_minimized + .page_container {
  margin-left: $sidebarMinWidth + 32px;
  @include transition($time: 350ms, $value: margin);

  @media (max-width: $mobile) {
    margin-left: $sidebarMinWidth;
  }
}

.page_container {
  padding: $navbarHeight + 2.5rem 0 7.5rem 0;

  @media (max-width: $mobile) {
    padding-top: 5.5rem;
  }

  > h1 {
    margin-left: 1rem;
  }
}
