$outer_width: 7px;
$inner_width: 6px;

.tooltip {
  display: inline-block;
  position: relative;

  > .tip {
    display: block;
    min-width: 125px;
    padding: .5rem 1rem;
    background: white;
    border: 1px solid rgba(0, 112, 243, .4);
    border-radius: .25rem;
    font-size: .75rem;
    text-align: center;
    z-index: 100000;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: solid transparent;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border: solid transparent;
    }
  }

  > .top {
    @include position(absolute, $left: 50%, $bottom: calc(100% + 16px));
    transform: translateX(-50%);

    &::before {
      @include position(absolute, $left: 50%, $bottom: -1 * 10px);
      transform: translateX(-50%);

      border-left: $outer_width solid transparent;
      border-right: $outer_width solid transparent;
      border-top: $outer_width solid rgba(0, 112, 243, .4);
    }

    &::after {
      @include position(absolute, $left: 50%, $bottom: -1 * 9px);
      transform: translateX(-50%);

      border-left: $inner_width solid transparent;
      border-right: $inner_width solid transparent;
      border-top: $inner_width solid white;
    }
  }

  > .bottom {
    @include position(absolute, $left: 50%, $top: calc(100% + 16px));
    transform: translateX(-50%);

    &::before {
      @include position(absolute, $left: 50%, $top: -1 * 10px);
      transform: translateX(-50%);

      border-left: $outer_width solid transparent;
      border-right: $outer_width solid transparent;
      border-bottom: $outer_width solid rgba(0, 112, 243, .4);
    }

    &::after {
      @include position(absolute, $left: 50%, $top: -1 * 9px);
      transform: translateX(-50%);

      border-left: $inner_width solid transparent;
      border-right: $inner_width solid transparent;
      border-bottom: $inner_width solid white;
    }
  }

  > .left {
    @include position(absolute, $top: 50%, $right: calc(100% + 16px));
    transform: translateY(-50%);

    &::before {
      @include position(absolute, $top: 50%, $right: -1 * 14px);
      transform: translateY(-50%);

      border-left: $outer_width solid rgba(0, 112, 243, .4);
      border-right: $outer_width solid transparent;
      border-bottom: $outer_width solid transparent;
    }

    &::after {
      @include position(absolute, $top: 50%, $right: -1 * 11px);
      transform: translateY(-50%);

      border-left: $inner_width solid white;
      border-right: $inner_width solid transparent;
      border-bottom: $inner_width solid transparent;
    }
  }

  > .right {
    @include position(absolute, $top: 50%, $left: calc(100% + 16px));
    transform: translateY(-50%);

    &::before {
      @include position(absolute, $top: 50%, $left: -1 * 14px);
      transform: translateY(-50%);

      border-left: $outer_width solid transparent;
      border-right: $outer_width solid rgba(0, 112, 243, .4);
      border-bottom: $outer_width solid transparent;
    }

    &::after {
      @include position(absolute, $top: 50%, $left: -1 * 11px);
      transform: translateY(-50%);

      border-left: $inner_width solid transparent;
      border-right: $inner_width solid white;
      border-bottom: $inner_width solid transparent;
    }
  }
}
