$break: 30.865rem;
$padding: 0 1rem;
$padding_mobile: 0 .5rem;

@mixin card-footer($dim: 2.5rem, $columns: 2.5rem auto, $fs: .75rem, $radius: 100%) {
  width: 100%;
  padding: $padding;
  @include grid($columns: $columns, $gap: .5rem);
  align-items: center;

  > .image {
    border-radius: $radius;
    @include background-image($width: $dim, $height: $dim, $color: $whitesmoke);
  }

  > .content {
    font-size: $fs;

    > h5 {
      @include ellipsis($lines: 2);

      &:nth-of-type(2) {
        opacity: .5;
      }
    }
  }
}

@mixin card-hashtags() {
  margin-top: .5rem;
  @include flex($align: center);
  flex-wrap: wrap;
  gap: .5rem;

  span {
    font-size: .75rem;
    font-family: 'Righteous', sans-serif;
    opacity: .5;
  }
}

.ad_small {
  @include grid($columns: repeat(auto-fit, minmax(215px, 1fr)), $gap: 1rem);
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  align-self: start;

  > .card {
    padding: 1rem 0 .5rem 0;
    @include grid($rows: auto 50px, $gap: .5rem);
    background: rgba($white, .5);

    @media (max-width: $break) {
      @include grid($columns: auto, $gap: .5rem);
    }

    > .card_image, > .card_category {
      display: none;
    }
  }
}

.card {
  width: 100%;
  max-width: 375px;
  @include grid($rows: 12rem auto 50px, $gap: .5rem);
  position: relative;

  border-radius: 1rem;
  background: $white;

  @media (max-width: $break) {
    @include grid($columns: 40% auto, $rows: 90px 60px, $gap: .5rem);
  }

  > .card_image {
    @include background-image($height: 12rem, $color: $light-200);

    border-radius: 1rem;

    @media (max-width: $break) {
      height: 100%;
      grid-area: span 2;
    }
  }

  > .content {
    padding: $padding;

    > h3 {
      @include ellipsis($lines: 2);
    }

    > .card_hashtags {
      @include card-hashtags;
    }

    @media (max-width: $break) {
      padding: $padding_mobile;
      @include flex($justify: center, $direction: column);
    }
  }

  > .card_footer {
    @include card-footer;
  }

  > .card_category {
    width: 5px;
    height: 35px;

    @include position(absolute, $right: 0, $top: 250px);

    border-radius: .25rem 0 0 .25rem;
    background: $main-green;

    @media (max-width: $break) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.card_lg {
  padding: 1rem;
  @include flex($align: center, $justify: space-between, $direction: column);
  gap: .5rem;
  position: relative;
  border-radius: 1rem;
  @include background-image($width: 100%, $height: 27rem);
  color: $white;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    @include position(absolute);
    border-radius: 1rem;
    background: rgba($black, .25);
    z-index: 1;
  }

  + .card_sm {
    margin-top: 2rem;
  }

  > span, > h2, > small {
    z-index: 2;
  }

  > span {
    position: relative;

    &::after, &::before {
      content: '';
      width: 1.25rem;
      height: .125rem;
      background: $white;
      border-radius: .25rem;
    }

    &::after {
      @include position(absolute, $top: 50%, $right: -2rem);
      transform: translateY(-50%);
    }

    &::before {
      @include position(absolute, $top: 50%, $left: -2rem);
      transform: translateY(-50%);
    }
  }

  > h2 {
    flex-grow: 1;
    @include flex($align: flex-end);
    text-align: center;
  }
}

.card_sm {
  @include card-footer($dim: 4rem, $columns: 4rem auto 1rem, $fs: .875rem, $radius: .5rem);
  position: relative;
  padding: .5rem;
  border-radius: .5rem;
  background: rgba($whitesmoke, .5);

  + .card_sm {
    margin-top: 1rem;
  }

  > i {
    color: $dodgerblue;
  }
}
