.card {
  width: 100%;
  height: 285px;

  @include grid($rows: 120px 115px 50px, $gap: 0);

  border: 1px solid $light-400;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);

  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  // 596px

  > .card_top {
    @include grid($columns: 100px 150px, $gap: 1rem);

    > .card_image {
      min-width: 145px;
      min-height: 145px;

      @include position(relative, $top: -30px, $left: -30px);
      border-radius: 100%;

      @include background-image;

      &::before {
        content: '';
        width: 156px;
        height: 156px;

        @include position(absolute, $top: -7px, $left: -7px);

        border-radius: 100%;
        box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);

        z-index: -1;
      }
    }

    > .card_top_content {
      width: 100%;
      padding: 1.5rem 1rem;

      @include flex($direction: column);

      font-size: .75rem;

      > span {
        &:nth-of-type(1) {
          font-weight: 600;
        }

        + span {
          margin-top: .5rem;
        }
      }
    }
  }

  > .card_bottom {
    padding: 1rem;

    > h3 {
      margin: 0;
      @include ellipsis($lines: 2);

      + span {
        margin-top: .5rem;
      }
    }

    > span {
      @include ellipsis($lines: 3);
      font-size: .75rem;
    }
  }

  > .card_footer {
    padding: 1rem;
    @include flex($align: center, $justify: space-between);

    > i {
      width: 2rem;
      height: 2rem;
      margin-left: -.25rem;

      @include place-center;

      border-radius: 100%;
      box-shadow: 1px 1px 3px rgba(33, 33, 33, .2);
      background: rgba(255, 255, 255, .2);

      color: $main-green;
      font-size: 1rem;
    }

    > span {
      font-size: .75rem;
    }
  }
}
