$break: 30.865rem;
$padding: 0 1rem;
$padding_mobile: 0 .5rem;


.card {
  width: 100%;
  @include grid($rows: 200px auto 50px, $gap: .5rem);
  position: relative;

  border-radius: 1rem;
  background: $white;

  @media (max-width: $break) {
    @include grid($columns: 40% auto, $rows: 90px 60px, $gap: .5rem);
  }

  > .card_image {
    @include background-image($height: 200px, $color: $light-200);

    border-radius: 1rem;

    @media (max-width: $break) {
      height: 100%;
      grid-area: span 2;
    }
  }

  > .content {
    padding: $padding;

    > h3 {
      @include ellipsis($lines: 2);
    }

    > .card_hashtags {
      margin-top: .5rem;

      span {
        font-size: .75rem;
        font-family: 'Righteous', sans-serif;
        opacity: .5;

        + span {
          margin-left: .5rem;
        }
      }
    }

    @media (max-width: $break) {
      padding: $padding_mobile;
      @include flex($justify: flex-end, $direction: column);
    }
  }

  > .card_footer {
    padding: $padding;
    @include flex($align: center);
    gap: .5rem;

    @media (max-width: $break) {
      padding: $padding_mobile;
    }

    > .card_author {
      border-radius: 100%;
      @include background-image($width: 2.5rem, $height: 2.5rem);
      background-image: url('https://images.unsplash.com/photo-1535207010348-71e47296838a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }

    > .content {
      font-size: .75rem;

      > h5 {
        &:nth-of-type(2) {
          opacity: .5;
        }
      }
    }
  }

  > .card_category {
    width: 5px;
    height: 35px;

    @include position(absolute, $right: 0, $top: 250px);

    border-radius: .25rem 0 0 .25rem;
    background: $main-green;

    @media (max-width: $break) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
