@mixin footbar-btn($width: 3.5rem, $zIndex: 10, $bg: $dodgerblue) {
  width: $width;
  height: $width;

  @include flex-center-center;
  flex-direction: column;

  border-radius: 100%;
  background: $bg;

  color: $white;
  z-index: $zIndex;

  > i {
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  > span {
    font-size: .5rem;
  }
}

.footbar {
  @include position(fixed, $left: 50%, $bottom: 2rem);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 200;

  .footbar_main {
    @include footbar-btn;
    @include position(relative);
  }

  > .footbar_nav {
    @include footbar-btn($zIndex: 9);
    @include transition($time: 250ms);
    @include position(absolute, $left: 0, $top: 0);
  }

  @for $i from 0 through 2 {
    $base: 100;
    $value: $base * $i;
    @if $i == 0 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: -125%, $top: -75%);
      }
    } @else if $i == 1 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: 0, $top: -125%);
        transition-delay: #{$value}ms;
      }
    } @else if $i == 2 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: 125%, $top: -75%);
        transition-delay: #{$value}ms;
      }
    }
  }
}

.footbar_expanded {
  @for $i from 0 through 3 {
    $base: 100;
    $value: $base * $i;
    @if $i == 0 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: -125%, $top: -25%);
      }
    } @else if $i == 1 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: -55%, $top: -120%);
        transition-delay: #{$value}ms;
      }
    } @else if $i == 2 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: 55%, $top: -120%);
        transition-delay: #{$value}ms;
      }
    } @else if $i == 3 {
      .footbar_nav_#{$i} {
        @include position(absolute, $left: 125%, $top: -25%);
        transition-delay: #{$value}ms;
      }
    }
  }
}
