footer {
  padding: 1rem 0;
  @include flex($align: flex-end, $justify: center);
  gap: 2rem;
  background: $white;

  > .nav {
    @include flex($align: center, $justify: center, $direction: column);
    gap: .25rem;

    > i {
      font-size: 1.1rem;
    }

    > span {
      font-size: .625rem;
      font-weight: 600;
    }

    &:hover {
      color: $dodgerblue;
      transition: 250ms ease-in;
    }
  }

  > .active {
    color: $dodgerblue;
    font-weight: 600;
  }
}
