.header {
  padding: 2rem 2rem 0 1.5rem;

  > .fa-search {
    margin-bottom: 1rem;
    @include flex($align: center, $justify: flex-end);

    color: $gray-100;
    cursor: pointer;
  }

  > .header_title {
    @include flex($align: center, $justify: space-between);
    gap: .5rem;

    > h1 {
      font-size: 3rem;
      opacity: .4;
    }

    > div {
      @include flex($align: center);
      gap: .5rem;

      > i {
        color: $dodgerblue;
        font-size: 1.5rem;
      }
    }

    + span {
      max-width: 32rem;
      display: block;
      margin-top: .5rem;
      font-size: .75rem;
    }
  }

  > .pills {
    margin-top: 1rem;
    @include flex($align: center, $justify: flex-start);
    flex-wrap: wrap;
    gap: .5rem;

    > .pill {
      padding: .25rem .75rem;

      border-radius: 1rem;
      box-shadow: 2px 2px 5px rgba($dodgerblue, .75), -2px -2px 5px rgba($light-400, .8);
      background: $dodgerblue;
      color: $whitesmoke;

      font-size: .75rem;
      font-weight: 600;
    }
  }
}
