.landing {
  width: 100%;
  min-height: 100vh;

  @include grid($columns: 75px auto 360px, $gap: 0);

  @media (max-width: 70rem) {
    grid-template-columns: 75px auto;
  }

  @media (max-width: 35rem) {
    grid-template-columns: auto;
    padding: 0 0 5rem 0;
  }

  > .main {
    padding: 1rem;
  }

  > ._sidebar {
    padding: 2rem;
    background: $light-100;
    border-left: 5px solid $white;

    @media (max-width: 70rem) {
      display: none;
    }

    > ._sidebar_cards {
      padding: 2rem 0;
      position: sticky;
      top: 0;
    }
  }
}

.landing_no_sidebar {
  @include grid($columns: 75px auto, $gap: 0);

  @media (max-width: 70rem) {
    grid-template-columns: 75px auto;
  }

  @media (max-width: 35rem) {
    grid-template-columns: auto;
  }
}
