$max-width: 800px;

.editor_container {
  margin-top: 2rem;

  > input {
    width: 100%;
    max-width: $max-width;
    margin-bottom: .5rem;
    padding: .5rem;
    @include border;
    outline: none;
    font-weight: 600;
  }

  > .editor {
    max-width: $max-width;
    padding-top: 1rem;
    @include border;
    background: white;
  }

  > .editor_select {
    margin: .5rem 0;
    position: relative;

    > div {
      width: 1.5rem;
      height: 1.5rem;
      background: $whitesmoke;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      @include position(absolute, $left: .5rem, $top: 50%);
      transform: translateY(-50%);
    }

    > select {
      width: 100%;
      max-width: $max-width;
      padding: .5rem;
      @include border;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      outline: none;

      > option {
        text-transform: capitalize;
      }
    }
  }

  > .editor_select_with_img > select {
    padding: .5rem .5rem .5rem 2.5rem;
  }

  > .buttons {
    max-width: $max-width;
    @include flex($align: center, $justify: flex-end);

    > div {
      display: inline-block;
      padding: .35rem 1rem;
      @include border;
      border-radius: .25rem;
      font-size: .75rem;
      font-weight: 600;
      cursor: pointer;

      + div {
        margin-left: .5rem;
      }
    }

    > .btn_main {
      background: white;
    }
  }
}

.preview_container {
  @include position(fixed);
  @include place-center;
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, .9);
  z-index: 1000;

  > .preview {
    width: 90vw;
    max-width: $max-width;
    height: 90vh;
    padding: 4rem;
    background: white;
    overflow-y: scroll;

    > h1, h2, h3, h4, h5, h6, p, li, ol {
      width: 90%;
      margin: 1rem auto;
    }

    > h1, h2 {
      text-align: center;
      margin: 1.5rem auto;
    }

    > img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      object-position: center;
    }
  }
}
