@mixin box-shadow($left: null, $right: null, $inset: false, $mixed: false) {
  box-shadow: $boxShadowLeft $boxShadowDark, $boxShadowRight $boxShadowLight;

  @if ($left != null and $right != null) {
    box-shadow: $left $boxShadowDark, $right $boxShadowLight;
  }

  @if ($inset) {
    box-shadow: inset $boxShadowLeft $boxShadowDark, inset $boxShadowRight $boxShadowLight;

    @if ($left != null and $right != null) {
      box-shadow: inset $left $boxShadowDark, inset $right $boxShadowLight;
    }
  }

  @if ($mixed) {
    box-shadow: $boxShadowLeft $boxShadowDark, $boxShadowRight $boxShadowLight, inset $boxShadowLeft $boxShadowDark, inset $boxShadowRight $boxShadowLight;
  }
}
