@mixin flex($align: null, $justify: null, $direction: null) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @if ($align != null) {
    -webkit-box-align: $align;
    -moz-box-align: $align;
    -ms-flex-align: $align;
    -webkit-align-items: $align;
    align-items: $align;
  }
  @if ($justify != null) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
  }
  @if ($direction != null) {
    flex-direction: $direction;
  }
}

@mixin flex-center-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin grid($gap: 1rem, $columns: null, $rows: null) {
  display: grid;
  grid-gap: $gap;
  @if ($columns != null) {
    grid-template-columns: $columns;
  }
  @if ($rows != null) {
    grid-template-rows: $rows;
  }
}

@mixin place-center() {
  display: grid;
  place-items: center;
}

@mixin position($position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  @if($top == null and $right == null and $bottom == null and $left == null) {
    top: 0;
    left: 0;
  } @else {
    @if ($top != null) {
      top: $top;
    }
    @if ($right != null) {
      right: $right;
    }
    @if ($bottom != null) {
      bottom: $bottom;
    }
    @if ($left != null) {
      left: $left;
    }
  }
}

@mixin transition($time: null, $value: all) {
  -webkit-transition: $value $time ease-out;
  -moz-transition: $value $time ease-out;
  -o-transition: $value $time ease-out;
  transition: $value $time ease-out;
}

@mixin box-shadow($left: null, $right: null, $inset: false, $mixed: false) {
  box-shadow: $boxShadowLeft $boxShadowDark, $boxShadowRight $boxShadowLight;

  @if ($left != null and $right != null) {
    box-shadow: $left $boxShadowDark, $right $boxShadowLight;
  }

  @if ($inset) {
    box-shadow: inset $boxShadowLeft $boxShadowDark, inset $boxShadowRight $boxShadowLight;

    @if ($left != null and $right != null) {
      box-shadow: inset $left $boxShadowDark, inset $right $boxShadowLight;
    }
  }

  @if ($mixed) {
    box-shadow: $boxShadowLeft $boxShadowDark, $boxShadowRight $boxShadowLight, inset $boxShadowLeft $boxShadowDark, inset $boxShadowRight $boxShadowLight;
  }
}

@mixin icon-shadow() {
  box-shadow: 1px 1px 4px rgba(0, 112, 243, .25);
}

@mixin ellipsis($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin only-desktop() {
  display: block;

  @media(max-width: $mobile) {
    display: none;
  }
}
