$darkslategray: rgb(36, 55, 100);
$dodgerblue: rgb(0, 112, 243);
$whitesmoke: rgb(241, 245, 248);
$limegreen: rgb(41, 191, 17);
$tomato: rgb(249, 65, 68);

$boxShadowDark: #e3e6e9;
$boxShadowLight: #fff;
$boxShadowLeft: 5px -5px 7px;
$boxShadowRight: -5px 5px 7px;
// $boxShadowInset: inset 5px 5px 7px $boxShadowDark, inset -5px -5px 7px $boxShadowLight;

$navbarHeight: 6rem;

$mobile: 768px;
