@import '../ui/styles/main';

@font-face {
  font-family: 'Righteous';
  src:  url('../fonts/Righteous-Regular.woff2') format('woff2'), url('../fonts/Righteous-Regular.woff') format('woff'), url('../fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'components/footbar';
@import 'components/card';
@import 'components/sidebar';
@import 'components/header';
@import 'components/post';
@import 'components/fitness';
@import 'components/footer';
@import 'components/loading';
@import 'components/workout';
@import 'components/landing';

body {
  background: $whitesmoke;
  color: $dark-700;
  background-image:  radial-gradient($light-200 .75px, transparent 0.5px), radial-gradient($light-200 .75px, transparent 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  font-size: .875rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', sans-serif;
}

.cards_container {
  padding: 2rem;

  @include grid($columns: repeat(auto-fit, minmax(215px, 1fr)), $gap: 1.5rem);
  place-items: center;

  @media (max-width: 35rem) {
    padding: 0;
    gap: 1rem;
  }
}

.ad {
  max-width: 55rem;
  margin: 0 auto;
  padding: 4rem 2rem;

  @include grid($columns: repeat(auto-fit, minmax(215px, 1fr)), $gap: 1.5rem);
  place-items: center;

  @media (max-width: 35rem) {
    gap: 1rem;
  }
}

.yoga_layout {
  padding: 2rem;

  @include grid($columns: 250px auto, $gap: 1.5rem);

  > iframe {
    width: 100%;
    height: 150%;
  }

  @media (max-width: 35rem) {
    @include grid($rows: auto auto, $columns: auto, $gap: 1.5rem);
  }
}

.no_events {
  pointer-events: none;
}
